<head>
  <%= stylesheet_link_tag 'reset' %>
  <%= stylesheet_link_tag 'common' %>
  <%= stylesheet_link_tag 'main' %>

  <%= javascript_include_tag 'application' %>

  <meta name="verify-v1" content="cEmfaAVSy3+tU2fcgApRBgVli2DHKEcRtKLNVjuuS4E=" />
  <META name="y_key" content="07404af1c25a9878" />
  <meta name="msvalidate.01" content="F4FA60C8184538F5A8EF02AAEB1F58F0" />

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>

  <% if defined?(description) %>
    <meta name="description" content="<%= description %>" />
  <% end %>
  <meta name="keywords" content="<%= keywords %>" />
  <title><%= page_title %></title>
</head>