<%= render :partial => "parts/head", :locals => {
 :page_title => "#{h @word} | tiikitter ",
 :keywords   => "#{h @word}",
}
%>
<body>
  
  <%= javascript_include_tag "jquery-1.3.2.min" %> 
  <%= javascript_include_tag "jquery.highlight-3" %> 

  <div id="main">

    <%= render :partial => "parts/header" %>

    <div class="breadcrumb">
      <a href="/">HOME</a><span><%=h @word %></span>
    </div>

    <div id="content">

        <h3><%=h @word %></h3>

        <ul id="timelines" class="timeline">
        <% @timelines.each{|timeline| %>
          <%= render :partial => "parts/tweet", :locals => {:timeline => timeline} %>
        <% } %>
        </ul>
    	</div>
    <%= render :partial => "parts/footer" %>
  </div>

  <script>
    $('#timelines').ready(function(){
      $('#timelines').removeHighlight().highlight('<%= @word %>');
    });
  </script>

</body>

